
/*Here's where you would put your Google Fonts import*/
@import url('https://fonts.googleapis.com/css?family=Saira');

/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */+
/*This is some further normalization and base styles. */
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

h2 {
  border-bottom: 1.5px solid black;
  color: white;
  font-size: 200%;
}

h1 {
font-size: 300%;
line-height: 0.9;
margin: 0.05em 0 1em 0;
}

p {
  text-align: left;
  line-height: 1.5em;
}

.background-header {
position: fixed;
top: 0;
left: 0;
right: 0;
width: 100%;
height: 72px;
background-image: url("../Dotted-Line.jpg");
background-position: center center;
}

.icons {
  display: flex;
  justify-content: space-around;
  align-self: center;
  /*height: 72px;*/
}

.icons button {
  flex: 0 1 auto;
  background: none;
  border: none;
  line-height: 1;
  box-shadow: none;
  padding: 0;
  outline: none;
}


.wrapper {
  width: 100%;
  padding: 50px;
}

.earth-reliant {
  background-image: url("../Background.png");
}

.the-journey {
  background-image: url("../Background.png");
}

.proving-ground {
  background-image: url("../Background.png");
}

.earth-independent {
background-image: url("../Background.png");
}

.living-mars {
  background-image: url("../Background.png");
}

.content {
  max-width: 1440px;
  margin: 0 auto;
}

.column-band {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}



.h1-main {
 font-size:300%;
}

.text-wrapper {
  flex: 0 0 100%;
  margin-bottom: 10px;
  padding: 50px;
  margin-top: 100px;
}



.image-wrap {
  flex: 0 0 100%;
  margin-top: 150px;
  margin-bottom: 100px;
  /*padding: 80px;*/
}

/* Large Tablet Up styles */
@media only screen and (min-width: 1024px) {
  .column-band {
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row nowrap;
  }
  .text-wrapper, .image-wrap {
    flex: 0 0 50%;
  }
  .column-reverse {
    flex-flow: row-reverse nowrap;
  }
}

/* SUB TABLET */
@media only screen and (max-width: 767px) {

  .image-wrap {
    flex: 0 0 100%;
    margin-top: 10px;
    margin-bottom: 100px;
    /*padding: 80px;*/
  }

  .text-wrapper {
    flex: 0 0 100%;
    margin-bottom: 10px;
    padding: 50px;
    margin-top: 50px;
  }

  

}

/* TABLET UP */
@media only screen and (min-width: 768px) {
}

/* TABLET ONLY */
@media only screen and (min-width: 768px) and (min-width: 1023px) {




}

/* DESKTOP */
@media only screen and (min-width: 1024px) {

}




.text-centered {
  text-align: center;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Responsive images base, put your images in a wrapper */
img {
    display: block;
    width: 100%;
    height: auto;
}



/* BOX MODEL SETTING FOR ALL ELEMENTS BY DEFAULT
THIS IS BETTER THAN DEFAULT, YOU SHOULD ALWAYS USE THIS:
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* END BOX MODEL SETTINGS */

body {
  font-size: 16px; /* Base Size */
  /*Setting the base font family*/
  font-family: 'Saira', sans-serif;
  margin: 0;
  padding: 0;
}

/*Here's a sample media query for you. This one is for desktop styles.*/
/*@media only screen and (min-width: 960px) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Use this clearfix class on the parent of floated elements to clear the float! */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
